*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Open Sans", sans-serif;


}
.home-section{
    width: 100%;
    height: 100vh;
    background:linear-gradient(90deg,#EBDEF0 70%,#c0d8e8 30%)
  /*  background-image: url('5590457.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;*/
    
}  
#navbar{
   background:linear-gradient(90deg,#EBDEF0 70%, #c0d8e8 30%)
  /* background-image: url('5590457.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;*/
}
#logo{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #07315e;
    letter-spacing: 2px;
}
.navbar-nav{
margin-left: 50px;
margin-top: 6px;

}
.nav-item .nav-link{
    margin-left: 10px;
    font-weight: bold;
    color:rgb(62, 125, 164);
    font-size:16px;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 2px;
    transition: 0.5s ease;


}
.nav-item .nav-link:hover{
    color: rgb(7, 7, 38);

}
#btncv{
    background: transparent;
    border:2px rgb(71, 42, 184) ;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    color:rgb(255, 255, 255);
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s;
    float: right; 
    margin: 20p
    
}
.home{
    width: 100%;
    height: 91.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;


}
.home .img{
    flex: 1 1 400px;

}
.home .img img{
    width:76%;
    margin-left:30px;

}
.home .content{
    flex: 1 1 400px;
    margin-left: 45px;

}
.home .content h5{
    color: rgb(21, 3, 44);
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bold;
}
.home .content h3{
    font-size: 50px;
    color: rgb(21, 3, 44);

}
.home .content h3 span{
    color: #63b6ee ;
    font-weight: bold;


}
@media screen and (max-width:844px){
    .home-section{
        height: 146vh;
        background:#EBDEF0 ;
    }
    .home .content{
        margin-top: 50px;
    
    



    }
    
    #navbar{
        background:#EBDEF0 ;

}
    
}
@media screen and (max-width:650px){
    .home-section{
        height: 130vh;
        background:#EBDEF0 ;
    }
   
}
@media screen and (max-width:360px){
    .home-section{
        height: 110vh;
        background:#EBDEF0 ;
    }
   
}
#about{
    width:100%;
    height: 100vh;
    background-color:#EBDEF0  ;
    display:flex;
   

}
#about .card img{
    background-color: #c0d8e8 ;
    border:2px solid black;

   
    



}
#about h3{
    color: #07315e;
    font-weight: bold;
    border-bottom: 2px solid #EBDEF0 ;
    width: 150px;
    


}
#about h5{
    color: #07315e ;
    font-weight: bold;


}
#about p{
    color: #07315e ;
    font-size: 15px;
  
}
#about h2{
    color: #07315e ;
    font-size: 17px;
}
#about h2 span{
    font-size: 15px;
    color:#0e81cd ;
    margin-left: 10px;
    margin-top: 10px;

}
#btncv2{
    width:160px;
    height: 38px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #c0d8e8;
    border:none;
    color:#07315e;
    transition: 0.5s ease;
    cursor: pointer;



}
#btncv2:hover{
    background-color: rgb(105, 105, 219) ;
}

@media screen and (max-width:390px){
    #about p{
        font-size: 10px;
    }
}
@media screen and (max-width:600px)
{
    #about{
        height: 150vh;
    }
    #about p{
        font-size: 17px;
    }
}

@media screen and (max-width:500px)
{
    #about{
        height: 120vh;
    }
}
#contact{
    width: 100%;
    height: 100vh;
    background-color:#EBDEF0 ;
}
#contact h1{
    color: #07315e;
    border-bottom:2px solid #c0d8e8;
    width:300px;
    padding-top: 200px;

}
#contact i{
    color: #07315e;
    margin-top:30px;
    margin-left: 7px;
    font-size: 20px;


}
.social-links i{
    padding-top: 20px;
    margin-left: 10px;
    font-size:20px;

}
@media screen and (max-width:767px){
#contact{
    height: 150vh;

}
}
#footer{
    width:100%;
    background-color: #c0d8e8;
}
#footer h1{
    color:#07315e;
    text-shadow:0px 1px 1px black;
}
.copyright{
    color:#07315e;
    margin-top:20px;
    text-shadow: 1px 1px 1px black;
}
